.App-container {
    max-width: 1200px;
    margin: 0 auto;
    font-family: Outfit, sans-serif;
    background-color: white;
    border-radius: 20px;
    height: 100vh;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

